html,
body {
    position: relative;
    height: 100%;
}

.search-section {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.search-popular {
    margin: 0 auto;
    border-radius: 8px;
    background-color: #55efc4
}

.search-title {
    font-weight: bold;
    margin-right: 20px;
    margin-left: 10px;
}

.search-item {
    font-weight: normal;
    background-color: white;
    padding: 5px 15px;
    border-radius: 8px;
    color: hsl(0, 0%, 21%);
    transition: .2s;
    margin: 0 5px;
}

.search-item:hover {
    background-color: #ffdd57;
}

.search-padding {
    padding: 10px;
}

.search-padding .column {
    margin-top: 5px;
    margin-bottom: 5px;
}



.product-section {
    padding-top: 1rem;
}
