html,
body {
    position: relative;
    height: 100%;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    height: 400px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    padding: 0 auto;
    background: #d8d8d8;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-section {
    padding: 4rem 0;
}

.swiper-pagination-bullet-active,
.swiper-pagination-bullet:hover {
    vertical-align: middle;
    width: 12px;
    height: 12px;
    transition: 0.2s;
}

.swiper-button-next, .swiper-button-prev {
    top: 50%;
    transform: translateY(-30%);
    background-color: whitesmoke;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-image: none;
}

.swiper-button-next {
    right: 30px;
}

.swiper-button-prev {
    left: 30px;
}

.fa-chevron-right, .fa-chevron-left {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fa-chevron-right {
    padding-left: 5px;
}

.fa-chevron-left {
    padding-right: 5px;
}
