/* swiper */

.swiper-container {
    width: 82%;
}

.swiper-slide {
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    padding: 0 auto;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-button-next, .swiper-button-prev {
    transform: translateY(-100%);
    background-color: hsl(48, 100%, 67%);
    color: rgba(0, 0, 0, 0.7);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-image: none;
}

.fa-chevron-right, .fa-chevron-left {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fa-chevron-right {
    padding-left: 5px;
}

.fa-chevron-left {
    padding-right: 5px;
}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev {
    left: 0;
}

.arrow-container {
    position: relative;
    width: 100%;
}

.swiper-slide img {
    cursor: pointer;
}

.border-show {
    box-sizing: border-box;
    border: 2px solid orange;
}

/* path */

.product-path {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 14px;
}

.path-name {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 15ch;
    white-space: nowrap;
}

.path-name:hover {
    overflow: visible;
}

.tooltip.is-tooltip-multiline::before {
    min-width: 15rem !important;
}

/* detail */

.product-cost {
    color: #ff502f;
    margin-top: .8rem;
    margin-bottom: .8rem;
}

.product-total {
    padding-top: .4rem;
    padding-bottom: .4rem;
    margin-right: .4rem;
}

.is-hpaddingright {
    padding-right: 0;
}

.is-vpaddingless {
    padding-top: 0;
}

.is-redcost {
    background-color: #ff502f;
    color: #fff;
}

.product-info .title {
    margin-bottom: .8rem !important;
    margin-left: 1rem !important;
}

.product-info .product-spec {
    margin-left: 1rem;
    margin-top: .5rem;
}

.product-showless {
    max-height: 12rem;
    overflow: hidden;
}

.product-show {
    margin-top: .5rem;
    opacity: 0.5;
    transition: .2s;
}

.product-show:hover {
    opacity: 1;
}
