.product-path {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 14px;
}

.path-name {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 15ch;
    white-space: nowrap;
}

.path-name:hover {
    overflow: visible;
}

